.container {
    /* position: relative; */
    /* top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%
    /* width: 80vw; */
    /* text-align: center; */
    /* background-color: #3a89a1; */
    
  }
.wrapper {
  position: relative;
  /* margin-top: 50px; */
  background-image: url('https://media.istockphoto.com/id/184268876/fr/photo/%C3%A9norme-pile-de-livres-r%C3%A9servez-mur.jpg?b=1&s=612x612&w=0&k=20&c=Mk2jgGaw3aSp4zF6B3yyUDKMs4zx8v70t1lTWTBEQzE=');
    background-size: cover;
    backdrop-filter: blur(8px);
    
}
  

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffeded;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 40%;
  }
  
  .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .input label {
    margin-bottom: 5px;
  }
  
  .input input[type="email"] {
    width: 125%;
    padding-left: 25px;
    padding-right: 14px;
    font-size: 1rem;
  }
  
.input input[type="password"],
.input input[type="text"] {
  width: 125%;
  box-sizing: border-box;
  padding-right: 40px; 
  padding-left: 25px;
  overflow-x: auto;
  font-size: 1rem;
}
  .inputContainer {
    position: relative;
    display: inline-flex;
    width: 40%;
    align-items: center;
  }
  .passwordIcon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 2px 5px;
  }
  .showHideButton {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 2px 5px;
  }
  
  .forgotPassword {
    font-weight: bold;
    font-size: .9rem;
  }
  .forgotPassword:hover {
    color: blue;
  }
  .button {
    margin-top: 10px;
    background-color: #ffffff;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  
  .facts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 2rem;
  min-height: 200px;
  width: 50%;
  text-align: center;
  color: white;
  background-color: black;
}
  
  .facts p {
    margin-bottom: 10px;
  }
  
  .checkboxInput {
    display: flex;
    align-items: center;
  }
  .OAuth {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .OAuth button {
    width: 100px;
  }
  @media (max-width: 768px) {
    .form,
    .facts {
      width: 90%;
    }
  }
  