
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5%;
  padding: 5%, 20%;
  background-color: #1d1d1d;
}

.nav-logo img {
  width: 60px;
  height: auto;
  cursor: pointer;
}

.nav-name h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.nav-courses,
.nav-home,
.login {
  padding: 0 10px;
}

.nav-courses p,
.nav-home p,
.login p {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.nav-courses p:hover,
.nav-home p:hover,
.login p:hover {
  text-decoration: underline;
}

/* Styles for average phone screens (320px to 480px) */
@media (max-width: 480px) {
  .nav-name h1 {
    font-size: 18px;
  }
  .nav-courses p,
  .nav-home p,
  .login p {
    font-size: 14px;
  }
}

/* Styles for average computer screens (1024px to 1280px) */
@media (min-width: 1024px) and (max-width: 1280px) {
  .nav-name h1 {
    font-size: 20px;
  }
  .nav-courses p,
  .nav-home p,
  .login p {
    font-size: 16px;
  }
}
